

.toffee {
      color: red;
      width: "50%"
  }

  .ant-radio-checked .ant-radio-inner{
    border-color: red !important ;
  }
  
  .ant-radio-checked .ant-radio-inner:after{
    background-color: red;
  }
  
  .ant-radio:hover .ant-radio-inner {
    border-color: red ;
  }